@import 'tailwindcss';

/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Lora:ital,wght@0,400..700;1,400..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

.cinzel-font {
  font-family: 'Cinzel', serif;
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'Cinzel', serif;
}
p{
  font-family: 'Open-Sans', serif;
}

@theme {
  --animate-typing: typing var(--typing-speed, 4s) steps(var(--steps, 20)) infinite,
                    blink .7s step-end infinite;
}

.typing-effect {
  white-space: nowrap;
  overflow: hidden;
  border-right: 2px solid black;
  animation: var(--animate-typing);
}

/* Keyframes (width controlled externally) */
@keyframes typing {
  0% { width: 0ch; }
  40% { width: var(--typing-width, 20ch); }
  60% { width: var(--typing-width, 20ch); }
  100% { width: 0ch; }
}

@keyframes blink {
  0%, 50% { border-color: transparent; }
  51%, 100% { border-color: black; }
}
