@import "tailwindcss";
/* @import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Lora:ital,wght@0,400..700;1,400..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap'); */

.cinzel-font {
  font-family: 'Cinzel', serif;
}
.open-sans-font {
  font-family: 'Open Sans', serif;
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'Cinzel', serif;
}

p {
  font-family: 'Open Sans', serif;
}


/* text animation */
@theme {
  --typing-speed: 4s;
  --steps: 20;
  --typing-width: 20ch;

  --animate-typing: typing var(--typing-speed) steps(var(--steps)) infinite,
                    blink .7s step-end infinite;
}

.typing-effect {
  white-space: nowrap;
  overflow: hidden;
  border-right: 2px solid black;
  animation: var(--animate-typing);
}

@keyframes typing {
  0% { width: 0ch; }
  40% { width: var(--typing-width); }
  60% { width: var(--typing-width); }
  100% { width: 0ch; }
}

@keyframes blink {
  0%, 50% { border-color: transparent; }
  51%, 100% { border-color: black; }
}
